@page
@model AspNetCoreCookieAuthentication.Pages.AdminModel
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "ADMIN";
}
<h1 class="text-center">Admin Page</h1>
@*<div class="container change-role">
    <div class="container" style="width:50%;">

        <form style="width:300px;">
        <div class="row">
            <div class="col-4">
                <label>ID:</label>
                <select id="ids" name="ids">
                @foreach (var item in Model.UserIds) {
                    <option value="@item">@item</option>
                }
                </select>
            </div>
            <div class="col">
                <label>Role:</label>
                <select id="ids" name="ids">
                    <option value="Admin">Admin</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Client">Client</option>
                </select>
            </div>
        </div>
    </form>
    </div>
</div>

*@
<    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>
                <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a> <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a> <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span> </a> <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a> <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a> <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> </div>
            </div>
        <li class="nav-item" style="list-style:none;">
            <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav_link" style="background:none;border:none;width:100%;"><i class='bx bx-log-out nav_icon'></i></button>
            </form>
        </li>
            
                <i class='bx bx-log-out nav_icon'></i>
            
            
            
            </nav>
    </div>
    <!--Container Main start-->
    <div class="">
    <h3 class="text-center">Users</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model.Users) {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.Role</td>

                </tr>
            }
        </tbody>
    </table>
    </div>
    <!--Container Main end-->
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId)

            // Validate that all variables exist
            if (toggle && nav && bodypd && headerpd) {
                toggle.addEventListener('click', () => {
                    // show navbar
                    nav.classList.toggle('show')
                    // change icon
                    toggle.classList.toggle('bx-x')
                    // add padding to body
                    bodypd.classList.toggle('body-pd')
                    // add padding to header
                    headerpd.classList.toggle('body-pd')
                })
            }
        }

        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
            if (linkColor) {
                linkColor.forEach(l => l.classList.remove('active'))
                this.classList.add('active')
            }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink))

        // Your code to run since DOM is loaded and ready
    });
    </script>